<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240395558062-tao8p6i12qmtjb8slf04sh44g4dufucj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240395558062-tao8p6i12qmtjb8slf04sh44g4dufucj</string>
	<key>API_KEY</key>
	<string>AIzaSyAUzHhgV-Ybq_tb_2dwkfERDamvhHsyvEo</string>
	<key>GCM_SENDER_ID</key>
	<string>240395558062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.ihasura</string>
	<key>PROJECT_ID</key>
	<string>ihasura</string>
	<key>STORAGE_BUCKET</key>
	<string>ihasura.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240395558062:ios:1f254d7f245cb1ff0ee13f</string>
	<key>DATABASE_URL</key>
	<string>https://ihasura-default-rtdb.firebaseio.com</string>
</dict>
</plist>